<h2>Dashboard: My Progress</h2>
<p>
  Progress so far:
</p>

<%= form_tag my_goals_path, :method => :get do %>
  <%= submit_tag 'My Goals' %>
<% end %>

<%= form_tag my_measurements_path, :method => :get do %>
  <%= submit_tag 'My Measurements' %>
<% end %>

<%= form_tag my_clients_path, :method => :get do %>
  <%= submit_tag 'My Clients' %>
<% end %>

<%= form_tag my_workouts_path, :method => :get do %>
  <%= submit_tag 'My Workouts' %>
<% end %>

<form>
      <fieldset>
        <legend>Text input</legend>
        <p>
          <label>my progress 1</label>

        </p>
      </fieldset>
    </form>