<h2>Enter my measurements</h2>


<%= form_tag process_enter_new_measurements_path, :method => 'post' do %>
  <%= text_field_tag 'weight', '', :size => 1, :autocomplete => 'off' %>
  <%= text_field_tag 'body_fat', '', :size => 1, :autocomplete => 'off' %>
  <%= text_field_tag 'height', '', :size => 1, :autocomplete => 'off' %>
  <%= submit_tag 'Enter' %>
<% end %>

<%= render :template => 'game/new' %>
