<!DOCTYPE html>
<html>
  <head>
    <title>My Measurements</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--<%= link_to 'Home Page', '/' %>-->
    <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <% end %>
    
    <div class="container">
        <h>Girl Scout Cookies Exercise Tracker</h>
      </div>
      <div class="span-24">
        <%= link_to 'Home Page', '/' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>